:root {
  --base-color: #202020;
  --card-color: #202020;
  --base-text-color: #FDF5E5;
  --dark-text-color: #202020;
  --accent-color: #98FF38;
  --new-badge-color: #A358FF;
  --card-border: 3px solid #FFF7E910;
}

body.purple {
  --base-color: #AB91CA;
  --card-color: #AB91CA;
  --base-text-color: #312C25;
  --dark-text-color: #202020;
  --accent-color: #98FF38;
  --new-badge-color: #312C25;
  --card-border: 3px solid #FFF7E930;
}

body.light-green {
  --base-color: #809D76;
  --card-color: #809D76;
  --base-text-color: #312C25;
  --dark-text-color: #202020;
  --accent-color: #79FF20;
  --new-badge-color: #312C25;
  --card-border: 3px solid #FFF7E930;
}

body.milk {
  --base-color: #d0c7ac;;
  --card-color: #d0c7ac;;
  --base-text-color: #312C25;
  --dark-text-color: #312C25;
  --accent-color: #49870f;
  --new-badge-color: #312C25;
  --card-border: 3px solid #FFF7E960;
}

body.green {
  --base-color: #096E46;
  --card-color: #096E46;
  --base-text-color: #FDF5E5;
  --dark-text-color: #202020;
  --accent-color: #FF8989;
  --new-badge-color: #FDF5E5;
  --card-border: 2px solid #FFFCEB;
}

body.purple {
  --base-color: #714F95;
  --card-color: #714F95;
  --base-text-color: #FDF5E5;
  --dark-text-color: #202020;
  --accent-color: #98FF38;
  --new-badge-color: #FDF5E5;
  --card-border: 3px solid #FFF7E930;
}


* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  letter-spacing: 0.01em;
}

html, body {
  /* overflow: hidden; /* Убирает прокрутку */
  user-select: none; /* Запрещает выделение текста */
  -webkit-user-select: none; /* Для Safari и старых браузеров */
  -moz-user-select: none; /* Для Firefox */
  -ms-user-select: none; /* Для Edge */
}

body {
  font-family: 'Martian Grotesk', sans-serif;
  font-variation-settings: "wght" 200, "wdth" 100;
  background-color: var(--base-color);
  color: var(--base-text-color);
}

.accent-text {
  color: var(--accent-color);
}

.main-container {
  width: 100vw;
  height: 100vh;
  display: flex;
  gap: 14px;
  padding: 0 15px 15px 15px;
}


/* HEADER */
.header {
  height: 13vh;
  font-size: 3.5rem;
  font-variation-settings: "wght" 942, "wdth" 100;
  display: flex;
  justify-content: center;
  align-items: center;
}


.section {
  flex: 1;
  display: flex;
  flex-direction: column;
  min-width: 0;
}

.container {
  flex: 1;
  border: var(--card-border);
  padding: 1rem 2rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: var(--card-color);
}




.vibrator {
  animation: vibrate 2s ease-in-out infinite;
}

@keyframes vibrate {
  /* Первые 20% (0.6s) - вибрация */
    0% {
      transform: translateX(0) rotate(0deg);
    }
    20% {
      transform: translateX(-3px) rotate(-3deg);
    }
    40% {
      transform: translateX(3px) rotate(3deg);
    }
    60% {
      transform: translateX(-2px) rotate(-2deg);
    }
    80% {
      transform: translateX(0) rotate(0deg);
    }
}




.title {
  display: flex;
  justify-content: space-between;
}

.list-item {
  display: flex;
  justify-content: space-between;
  font-size: 1.1rem;
  margin-bottom: 2px;
}

.drink {
  flex: 3;
}

.item-price {
  width: 150px;
  text-align: right;
}

.title-name {
  font-size: 1.8rem;
  font-variation-settings: "wght" 700, "wdth" 100;
}

.title-price {
  font-size: 1.8rem;
  font-variation-settings: "wght" 300, "wdth" 100;
}

.block .title {
  margin-bottom: 0.4rem;
}




/* .accent-border {
  border: 4px solid var(--accent-color);
} */



/* СКИДКИ */
.discount-container {
  padding: 1rem 1rem;
}

.discount-table-header {
  font-size: 1.8rem;
  line-height: 2rem;
  font-variation-settings: "wght" 700, "wdth" 100;
  display: flex;
  justify-content: space-between;
}

.discount-table-header .item {
  text-align: center;
}


.discount-table {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 15px;
}

.discount-item {
  border-radius: 80px;
  background-color: var(--accent-color);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem;
  font-size: 4rem;
}

.quantity {
  font-variation-settings: "wght" 900, "wdth" 100;
  color: var(--dark-text-color);
  background: #00000015;
  border-radius: 80px;
  width: 8rem;
  text-align: center;
  padding: 0.3rem 0;
}

.discount {
  color: var(--dark-text-color);
  margin-right: 1.1rem;
}

.d-10 .discount {
  font-variation-settings: "wght" 150, "wdth" 100;
}

.d-15 .discount {
  font-variation-settings: "wght" 400, "wdth" 100;
}

.d-20 .discount {
  font-variation-settings: "wght" 800, "wdth" 100;
}

.d-25 .discount {
  font-variation-settings: "wght" 1000, "wdth" 100;
}



.d-10 {
  background-color: #77e953;
}

.d-15 {
  background-color: #e6ea06;
}

.d-20 {
  background-color: #ffa500;
}

.d-25 {
  background-color: #f66868;
}










/* АКЦИИ */
.action {
  padding: 1rem 2rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

.tg {
  display: flex;
  align-items: center;
  justify-content: center;
}

.action-container {
  width: 100%;
  flex: 1;
  border: var(--card-border);
}


.action:nth-child(1) {
  background-color: #388340;
}

.action:nth-child(2) {
  background-color: #EF855B;
}

.action:nth-child(3) {
  background-color: #DDA7FF;
}



.action-info {
  display: flex;
  flex-direction: column;
}

.action-text {
  font-size: 1.8rem;
  font-variation-settings: "wght" 700, "wdth" 100;
  line-height: 2rem;
  display: flex;
  align-items: center;
}

.action-date {
  font-size: 0.8rem;
  font-size: 1.2rem;
  font-variation-settings: "wght" 390, "wdth" 100;
  margin-bottom: 0.6rem;
}

.action-icon {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: end;
  flex: 1;
  margin-top: 1.2rem;
}

.action:nth-child(1) .action-icon {
  padding-left: 2.3rem;
  margin-bottom: -0.4rem;
}

.action-icon img {
  position: absolute;
  height: 100%;
}

.qr-code img {
  height: 7rem;
}

.tg-text {
  margin-left: 1rem;
  font-variation-settings: "wght" 330, "wdth" 100;
}

.action-note {
  font-variation-settings: "wght" 150, "wdth" 50;
  text-align: center;
  font-size: 0.8rem;
  margin-top: 0.4rem;
  margin-bottom: 1rem;
}

.slide-container {
    width: 100%; /* Занимает 100% родителя */
    height: 100%; /* Занимает 100% родителя */
    overflow: hidden;
}

.slide-wrapper {
    display: flex;
    width: 200%; /* 3 карточки × 100% */
    height: 100%;
    animation: slide 20s infinite;
    animation-timing-function: ease-in-out;
}

.card {
    width: 50%; /* 100% / 3 карточки */
    height: 100%;
}

@keyframes slide {
    0%, 40% {
        transform: translateX(0); /* Карточка 1, ~7с */
    }
    50%, 90% {
        transform: translateX(-50%); /* Карточка 2, ~7с */
    }
    100% {
        transform: translateX(0); /* Возврат к Карточке 1 */
    }
}



/* FONTS */
@font-face{
  font-family: 'Martian Grotesk';
  src: url('fonts/MartianGrotesk-VFVF.woff2') format('woff2');
}
