:root {
  --base-color: #1a1a1a;
  --card-color: #1a1a1a;
  --base-text-color: #FDF5E5;
  --accent-color: #72D641;
  --new-badge-color: #CA61FF;
  --card-border: 3px solid #32322f;
}

body.green {
  --base-color: #306A41;
  --card-color: #306A41;
  --base-text-color: #EFE4AF;
  --accent-color: #FF8989;
  --new-badge-color: #EFE4AF;
  --card-border: 2px solid #EFE4AF;
}

body.purple {
  --base-color: #714F95;
  --card-color: #714F95;
  --base-text-color: #FDF5E5;
  --accent-color: #98FF38;
  --new-badge-color: #FDF5E5;
  --card-border: 2px solid #FDF5E5;
}

body.light-green {
  --base-color: #809D76;
  --card-color: #809D76;
  --base-text-color: #312C25;
  --accent-color: #79FF20;
  --new-badge-color: #312C25;
  --card-border: 3px solid #FFF7E930;
}

body.milk {
  --base-color: #d0c7ac;
  --card-color: #d0c7ac;
  --base-text-color: #312C25;
  --accent-color: #49870f;
  --new-badge-color: #312C25;
  --card-border: 3px solid #FFF7E960;
}

body.coffee {
  --base-color: #76695B;
  --card-color: #76695B;
  --base-text-color: #FDF5E5;
  --accent-color: #FFF827;
  --new-badge-color: #312C25;
  --card-border: 2px solid #574C40;
}

body.coral {
  --base-color: #D46259;
  --card-color: #D46259;
  --base-text-color: #F8EAA7;
  --accent-color: #2C0A08;
  --new-badge-color: #2C0A08;
  --card-border: 2px solid #F8EAA7;
}





* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  letter-spacing: 0.01em;
}

html, body {
  user-select: none; /* Запрещает выделение текста */
  -webkit-user-select: none; /* Для Safari и старых браузеров */
  -moz-user-select: none; /* Для Firefox */
  -ms-user-select: none; /* Для Edge */
}

body {
  font-family: 'Martian Grotesk', sans-serif;
  font-variation-settings: "wght" 140, "wdth" 100;
  background-color: var(--base-color);
}

.main-container {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
}


/* HEADER */
.header {
  width: auto;
  height: 14vh;
  background-color: var(--base-color);
  color: var(--base-text-color);
}

.header-container {
  width: auto;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__left {
  font-size: 3.5rem;
  font-variation-settings: "wght" 942, "wdth" 100;
  flex: 2;
  padding-left: 1.5rem;
}

.header__right {
  padding: 0 1.4rem 0 2.8rem;
  flex: 1;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__price {
  font-size: 3.5rem;
  font-variation-settings: "wght" 942, "wdth" 100;
  color: var(--accent-color);
  flex: 1;
  display: flex;
  justify-content: flex-end;
}

.header__info {
  display: flex;
  align-items: center;
  height: fit-content;
  padding: 0.3rem 1rem 0.5rem 1rem;
  border: 4px solid var(--accent-color);
  border-radius: 1.8rem;
  line-height: 1.5rem;
  font-size: 1.2rem;
  color: var(--accent-color);
  margin-top: 0.4rem;
  font-variation-settings: "wght" 500, "wdth" 100;
  text-align: center;
}

.vibrator {
  animation: vibrate 2s ease-in-out infinite;
}

@keyframes vibrate {
  /* Первые 20% (0.6s) - вибрация */
    0% {
      transform: translateX(0) rotate(0deg);
    }
    20% {
      transform: translateX(-3px) rotate(-3deg);
    }
    40% {
      transform: translateX(3px) rotate(3deg);
    }
    60% {
      transform: translateX(-2px) rotate(-2deg);
    }
    80% {
      transform: translateX(0) rotate(0deg);
    }
}



/* MENU */
.menu {
  height: 86vh;
  margin: 0 15px 15px 15px;
  flex: 1;
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* 3 столбца равной ширины */
  grid-template-rows: repeat(2, 1fr); /* 2 строки равной высоты */
  border: var(--card-border);
}



/* ITEM */
.item {
  width: 100%;
  height: 100%;
  color: var(--base-text-color);
  overflow: hidden;
  border-right: var(--card-border); /* Линия справа */
  border-bottom: var(--card-border); /* Линия снизу */
}

/* Убираем лишние границы для последних элементов */
.item:nth-child(3n) { /* Последний столбец */
  border-right: none;
}

.item:nth-last-child(-n + 3) { /* Последняя строка */
  border-bottom: none;
}

.item-inner {
  height: 100%;
  position: relative;
}

.item-content {
  padding: 1rem 0.9rem;
  height: 100%;
  display: flex;
  align-items: flex-end;
  background-color: var(--card-color);
  position: relative;
}

.ingredients ul {
  padding: 0;
  margin: 0;
  font-size: 0.83rem;
  line-height: 1.2em;
  list-style-type: none;
  text-shadow: 0 3px 6px var(--card-color);
}

.item .name {
  display: flex;
  align-items: flex-end; /* Текст по нижнему краю */
  line-height: 1.75rem;
  font-size: 1.5rem;
  font-variation-settings: "wght" 500, "wdth" 100;
  text-align: right;
}

.item .left-small {
  width: 30%;
}

.left {
  position: relative;
  width: 49%;
}

.weight {
  display: flex;
  align-items: flex-end; /* Текст по нижнему краю */
  line-height: 1.4rem;
  margin-top: 0.3rem;
  font-size: 1.1rem;
  font-variation-settings: "wght" 700, "wdth" 100;
}

.item img {
  position: absolute;
  width: 72%;
  left: 50%;
  z-index: 0;
  transform: translateX(-50%);
}

.info {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  z-index: 100;
}



/* SLIDER */
.slider {
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.slider .item-inner {
    display: flex;
    flex-direction: column;
    width: 100%; /* 2 карточки × 100% */
    height: 200%;
    animation: slide 20s infinite;
    animation-timing-function: ease-in-out;
}

.slider .item-content {
    width: 100%; /* 100% / 2 карточки */
    height: 50%;
}

@keyframes slide {
    0%, 51% {
        transform: translateY(0); /* Карточка 1, ~9с */
    }
    55%, 96% {
        transform: translateY(-50%); /* Карточка 2, ~9с */
    }
    100% {
        transform: translateY(0); /* Возврат к Карточке 1 */
    }
}



/* BADGE */
.badge {
    position: absolute;
    z-index: 1000;
    top: 0.5rem;

    font-variation-settings: "wght" 1000, "wdth" 90;
    font-size: 2rem;
    display: flex;
    align-items: center;
}

.new {
  color: var(--new-badge-color);
}

.hit .badge {
  color: var(--accent-color);
}



/* FONTS */
@font-face{
  font-family: 'Martian Grotesk';
  src: url('fonts/MartianGrotesk-VFVF.woff2') format('woff2');
}
